* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent; }

body {
  color: #E6E1D0;
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 18px;
  font-weight: 400; }

::-webkit-scrollbar {
  width: 0px; }

#screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 502px;
  font-family: "Avenir Next Regular";
  font-size: 12pt;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
  padding: 0px;
  z-index: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #232323;
  font-family: "Avenir Next Regular", sans-serif; }
  .page .left-segment {
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    -transition: transform 0.8s ease, opacity 1s ease;
    -webkit-transition: transform 0.8s ease, opacity 1s ease;
    -moz-transition: transform 0.8s ease, opacity 1s ease;
    -o-transition: transform 0.8s ease, opacity 1s ease;
    -webkit-backface-visibility: hidden; }
    .page .left-segment .title {
      font-size: 36px;
      line-height: 36px;
      vertical-align: middle;
      padding-left: 50px;
      color: #fff;
      opacity: 0.85;
      font-weight: 300; }
    .page .left-segment #content-wrapper {
      margin-bottom: 100px; }
      .page .left-segment #content-wrapper .img-container {
        height: 180px;
        padding: 30px 10px 30px 10px;
        background-image: url("/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_5_Long.png");
        background-repeat: no-repeat;
        background-size: 1400px; }
      .page .left-segment #content-wrapper .img-caption {
        font-size: 24px;
        padding-left: 50px;
        color: #fff;
        opacity: 0.85; }
      .page .left-segment #content-wrapper .img-rights {
        font-size: 12pt;
        text-transform: uppercase;
        padding-left: 50px;
        margin-top: 5px;
        color: #fff;
        opacity: 0.85; }
    .page .left-segment .left-navigation-wrapper {
      float: bottom;
      background-color: #1a1a1a;
      width: 100%;
      height: 50px;
      display: flex;
      font-size: 16pt;
      color: #E1DDC6;
      justify-content: flex-end; }
      .page .left-segment .left-navigation-wrapper .slide-num-text {
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding-right: 25px; }
      .page .left-segment .left-navigation-wrapper .slide-next, .page .left-segment .left-navigation-wrapper .slide-prev {
        width: 70px;
        height: 50px;
        font-size: 22pt;
        line-height: 50px;
        text-align: center;
        border-left: #232323 solid 3px; }
        .page .left-segment .left-navigation-wrapper .slide-next:active, .page .left-segment .left-navigation-wrapper .slide-next:hover, .page .left-segment .left-navigation-wrapper .slide-prev:active, .page .left-segment .left-navigation-wrapper .slide-prev:hover {
          cursor: pointer;
          background-color: black; }
  .page .right-segment {
    width: 480px;
    height: 100%;
    border-left: #E1DDC6 solid 3px; }
    .page .right-segment #right-content-wrapper {
      display: flex;
      height: 100px; }
      .page .right-segment #right-content-wrapper .question-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        margin-top: 30px; }
        .page .right-segment #right-content-wrapper .question-container .question {
          width: 350px;
          text-align: right;
          font-size: 18pt;
          margin-right: 20px;
          margin-left: 20px;
          color: #fff; }
        .page .right-segment #right-content-wrapper .question-container .answer-btn {
          width: 60px;
          height: 60px;
          background-color: #333333;
          border-radius: 50%;
          font-size: 26pt;
          line-height: 60px;
          vertical-align: middle;
          text-align: center; }
          .page .right-segment #right-content-wrapper .question-container .answer-btn i {
            padding-top: 12px; }
          .page .right-segment #right-content-wrapper .question-container .answer-btn:active, .page .right-segment #right-content-wrapper .question-container .answer-btn:hover {
            cursor: pointer;
            background-color: black; }
      .page .right-segment #right-content-wrapper .right-img-container {
        height: 280px;
        padding: 30px 10px 30px 10px;
        background-image: url("/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B1.png");
        background-repeat: no-repeat;
        background-size: 250px; }

#mask {
  display: none;
  opacity: 0.65;
  background-color: #666666; }

/*# sourceMappingURL=slidemain.css.map */
