$screen-width: 1920px;
$screen-height: 502px;
$outline-color: #888678;
$background-color: #171718;
$nav-background-color: #1a1a1a;
$font-color: #E6E1D0;
$line-color: #E1DDC6;
$red-color: #bc4c4e;
$green-color: #88DBB2;

$screen-fourth: 480px;
$screen-three-fourth: 1440px;

$header-font: 'BauOT-Bold';
$body-font: 'Avenir Next Regular';

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin x-browser-transition($property...){
  -transition: $property;
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  -webkit-backface-visibility: hidden;
}

@mixin x-browser-transform($property){
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -transform: $property;
}


@mixin artifact-index($width, $height){
  width: $width;
  height: $height;
  margin-left: 10px;
  background-color: $red-color;
  font-size: 7pt;
  font-family: "BauOT-Medium", sans-serif;
  margin-top: 10px;
}

@mixin center-align($lineheight){
  line-height: $lineheight;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  color: $font-color;
  font-family: $body-font, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

::-webkit-scrollbar{
  width: 0px;
}

#screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: $screen-width;
  height: $screen-height;
  font-family: $body-font;
  font-size: 12pt;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
  padding: 0px;
  z-index: 0;

  @include noselect();
}

.page{
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $background-color;
  font-family: "Avenir Next Regular", sans-serif;

  .left-segment{
    width: $screen-three-fourth;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include x-browser-transition(transform 0.8s ease, opacity 1s ease);

    #content-wrapper{
      height: $screen-height;

      .content-header{
        font-size: 26pt;
        line-height: 36px;
        vertical-align: middle;
        margin-top: 30px;
        padding-left: 50px;
        color: #fff;
        opacity: 0.85;
        font-weight: 300;
      }

      .content-subheader{
        font-size: 20pt;
        line-height: 36px;
        vertical-align: middle;
        padding-left: 50px;
        margin-top: 30px;
        color: #fff;
        opacity: 0.85;
        font-weight: 300;
      }

      #media-wrapper{

        .media-container{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;

          .media-content{
            height: 180px;
            width: 1250px;
            padding: 10px 10px 10px 10px;
            background: url("/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_1_Long.png") no-repeat center;
            background-size: 1150px;
          }

          .slide-next, .slide-prev{
            width: 50px;
            height: 50px;
            font-size: 20pt;
            line-height: 50px;
            padding-top: 4px;
            text-align: center;
            border-radius: 50%;
            background-color: #424342;

            &:active, &:hover{
              cursor: pointer;
              background-color: black;
            }
          }
        }

        .media-caption{
          font-size: 24px;
          padding-left: 50px;
          margin-top: 15px;
          color: #fff;
          opacity: 0.85;
        }

        .media-rights{
          font-size: 12pt;
          text-transform: uppercase;
          padding-left: 50px;
          margin-top: 5px;
          color: #fff;
          opacity: 0.65;
        }
      }
    }
  }

  .right-segment{
    width: $screen-fourth;
    height: 100%;
    border-left: $line-color solid 3px;

    #right-content-wrapper{
      display: flex;
      height: 100px;

      .question-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100px;
        margin-top: 30px;

        .question{
          width: 350px;
          text-align: right;
          font-size: 18pt;
          margin-right: 20px;
          margin-left:20px;
          color: #fff;
        }

        .answer-btn{
          width: 60px;
          height: 60px;
          background-color: #333333;
          border-radius: 50%;
          font-size: 26pt;
          line-height: 60px;
          vertical-align: middle;
          text-align: center;

          i{
            padding-top: 12px;
          }

          &:active, &:hover{
            cursor: pointer;
            background-color: black;
          }
        }
      }

      .right-img-container{
        height: 280px;
        padding: 30px 10px 30px 10px;
        background-image: url("/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B1.png");
        background-repeat: no-repeat;
        background-size: 250px;
      }
    }

    .right-navigation-wrapper{

    }

  }
}

#mask{
  display: none;
  opacity: 0.65;
  background-color: #666666;
}

