{% load staticfiles %}
<!--
  Cyrus Tang Hall of China 
  Digital Rail Design

  This project was funded by the National Science Foundation (grant IIS-1550051).
  Any opinions, findings and conclusions or recommendations expressed in this
  material are those of the author(s) and do not necessarily reflect the views
  of the National Science Foundation (NSF).
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="{% static "common/css/fonts.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "common/css/ionicons.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "common/css/jquery-ui.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="../../../static/attractscreen/css/slidemain.css" type="text/css" rel="stylesheet" />
    <script src="{% static "common/js/jquery-1.12.3.min.js" %}"></script>
    <script src="{% static "common/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "common/js/jquery-ui-touch.js" %}"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77263385-1', 'auto');
        ga('send', 'pageview');
        ga('send', {hitType: 'event', eventAction: ['click','scroll'], eventCategory: ['artifact'] });
    </script>

    <title>Case 201: Cyrus Tang Hall of China</title>
</head>
<body oncontextmenu="return true">
    <div id="screen">
        <!--Attract Screen-->
        <div class="page" id="main-screen">
            <div class="left-segment">
                <div id="content-wrapper">
                    <div class="content-header">Chinese writing has transformed over time. <span> (tap here for more) </span></div>
                    <div class="content-subheader">Character for <span>"horse"</span></div>
                    <div id="media-wrapper">
                        <div class="media-container">
                            <div class="slide-prev"><i class="ion ion-ios-arrow-back"></i></div>
                            <div class="media-content" data-index="0"></div>
                            <div class="slide-next"><i class="ion ion-ios-arrow-forward"></i></div>
                        </div>
                        <div class="media-rights">&#169; the field museum, illustrator sayaka isowa</div>
                        <div class="media-caption">Characters first seen on Oracle Bones transformed over time. Many are still recognizable in characters used in China today.</div>
                    </div>
                    <div id="slider"></div>
                    <div class="highlight-legend"></div>
                </div>
                <div id="highlight"></div>
                <div id="in-motion-highlight"></div>
                <div class="tooltip">
                  <span class="tooltiptext">1100 BC</span>
                </div>
                <div id="content-detail-wrapper">
                    <div id="question-wrapper">
                        <div class="question">
                            <div class="text">Why were shells used as money ?</div>
                            <div class="answer-btn"><i class="ion ion-android-arrow-forward"></i></div>
                        </div>
                        <div class="question">
                            <div class="text">What makes a shell valuable ?</div>
                            <div class="answer-btn"><i class="ion ion-android-arrow-forward"></i></div>
                        </div>
                        <div class="question">
                            <div class="text">Why were shells buried with the dead ?</div>
                            <div class="answer-btn"><i class="ion ion-android-arrow-forward"></i></div>
                        </div>
                    </div>

                    <div id="answer-wrapper">
                        <div class="close-btn"><i class="ion ion-ios-close"></i></div>
                        <div class="answer">

                            <div class="question-text">Why were shells used as money</div>
                            <div class="answer-text">Most societies, as they form larger and larger trade networks, turn to some kind of small, portable, and standardized item to use as currency. <br> These cowrie shells were easier to carry over long distances for trade than a sack of grain. Many early societies used cowrie shells as a form of currency.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-segment">
                <div id="artifact-wrapper">
                    <div id="artifact1" class="artifact selected selected-anim-left">
                        <div class="main">
                            <div class="img" style="background-image: url(/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B1.png)"></div>
                            <div class="name">Oracle Bones</div>
                            <div class="label">14-16</div>
                        </div>
                    </div>
                    <div id="artifact2" class="artifact">
                        <div class="main">
                            <div class="img" style="background-image: url(/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B2.png)"></div>
                            <div class="name">Oracle Bones</div>
                            <div class="label">17-18</div>
                        </div>
                    </div>
                    <div id="artifact3" class="artifact">
                        <div class="main">
                            <div class="img" style="background-image: url(/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B4.png)"></div>
                            <div class="name">Ceramic Vessels</div>
                            <div class="label">19-21</div>
                        </div>
                    </div>
                    <div id="artifact4" class="artifact">
                        <div class="main">
                            <div class="img" style="background-image: url(/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B5.png)"></div>
                            <div class="name">Cowrie Shells</div>
                            <div class="label">22-24</div>
                        </div>
                    </div>
                </div>
                <div id="detail-page">
                    <div id="detail-header">
                        <div class="home">
                            <div> BACK </div>
                            <div><i class="ion ion-grid"></i></div>
                        </div>
                        <div class="name">Cowrie Shells
                            <div class="sub-description">Early Zhou Dynasty | 1046 - 256BC</div>
                        </div>
                        <div class="label">22-24</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            selectArtifact("");

            //-------------------------------------------------------------------
            // Callback to set media screen contents from artifact column
            //-------------------------------------------------------------------
            $('.page').on('click', '.artifact', function(){
                if(!$(this).hasClass('selected')){
                    $('.artifact').removeClass('selected');
                    $('.artifact').removeClass('selected-anim-left');
                    $('.artifact').removeClass('selected-anim-right');
                    $('.artifact').find('.more').css('display','none');

                    //-------------------------------------------------------------------
                    //detect whether it's an even/odd element in grid, to ensure that
                    //only the items on the first/left column slide to the left.
                    var artifactArr = $("#artifact-wrapper .artifact:nth-child(even)");
                    var clickedArtifact = $(this)[0];

                    var oddElement = true;
                    for(var i=0; i < artifactArr.length; i++){
                        if($(clickedArtifact).is(artifactArr[i])){
                            oddElement = false;
                            break;
                        }
                    }

                    $(this).addClass("selected");
                    if(oddElement){
                        $(this).addClass('selected-anim-left');
                    }
                    else{
                        $(this).addClass('selected-anim-right');
                    }
                    //-------------------------------------------------------------------

                    selectArtifact($(this).attr('id'));
                }
            });



            $('.content-header').on('click', 'span', function(){
                $('#content-wrapper').fadeOut(400);
                $('#content-detail-wrapper').fadeIn(400);
            });


            function selectArtifact(artifactId){
                if(artifactId == ""){
                    $('.artifact').find('.more').css('display','none');
                    //$('.artifact.selected').addClass('selected-anim-left');
                    $('.artifact.selected').find('.more').fadeIn(400);
                }
                else{
                    console.log(artifactId);
                }
            }

            $( "#slider" ).slider({
                min: 0,
                max: 3400,
                step: 1,
                animate: "slow"
            });

            $( "#slider" ).on( "slidestart", function( event, ui ) {
                $('#highlight').animate({'border-width': '7px', opacity: "0.25"}, 500);

                $(".tooltip").css('left', $('.ui-slider-handle').position().left + 65);
                $(".tooltip").fadeIn(400);
            } );

            $( "#slider" ).on( "slidestop", function( event, ui ) {
                var currentYear = $( "#slider" ).slider( "value" );

                if(currentYear < 300){
                    $('#highlight').animate({left: "125px", width: "125px"}, 500);
                }

                if(currentYear >= 300 && currentYear < 1100){
                    $('#highlight').animate({left: "250px", width: "265px"}, 500);
                }

                if(currentYear >= 1100 && currentYear < 1600){
                    $('#highlight').animate({left: "525px", width: "265px"}, 500);
                }

                if(currentYear >= 1600 && currentYear < 3175){
                    $('#highlight').animate({left: "525px", width: "655px"}, 500);
                }

                if(currentYear >= 3175){
                    $('#highlight').animate({left: "525px", width: "800px"}, 500);
                }

                $('#highlight').animate({'border-width': '3px', opacity: "1.0", 'border-color': "#F38A5D"}, 500);

                $("#in-motion-highlight").fadeOut(400);
                $(".tooltip").fadeOut(400);
            } );


            $( "#slider" ).on( "slide", function(event, ui) {
                var currentYear = $( "#slider" ).slider( "value");

                $("#in-motion-highlight").fadeIn(400);

                //set tooltip position + display
                $(".tooltip").css('left', $('.ui-slider-handle').position().left + 65);

                var slope = 1100/3400;
                var output = 125 + slope * (currentYear - 50);

                $("#in-motion-highlight").css('left', output);

                if(currentYear <= 1400){
                   $(".tooltiptext").text((1400-currentYear).toString() + " BC");
                }
                else{
                   $(".tooltiptext").text((currentYear - 1400).toString() + " AD");
                }
            });


            $('.page').on('click', '.slide-prev', function(event){
                var imgURLList = getImageList(1);
                var imgCaptionList = getCaptionList();
                var prevImgIndex = ($('.media-content').data('index') - 1);
                if(prevImgIndex < 0){
                    prevImgIndex = imgURLList.length - 1;
                }
                $('.media-content').css('background-image',imgURLList[prevImgIndex]);
                $('.media-content').data('index', prevImgIndex);

                $('.content-subheader').find('span').text("\""+imgCaptionList[prevImgIndex]+"\"");
            });

            $('.page').on('click', '.slide-next', function(event){
                var imgURLList = getImageList(1);
                var imgCaptionList = getCaptionList();
                var nextImgIndex = ($('.media-content').data('index') + 1) % imgURLList.length;

                $('.media-content').css('background-image',imgURLList[nextImgIndex]);
                $('.media-content').data('index', nextImgIndex);

                $('.content-subheader').find('span').text("\""+imgCaptionList[nextImgIndex]+"\"");
            });

            function getImageList(artifactId){
                var imgURLList = [];

                imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_1_Long.png" + '\")');
                imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_2_Long.png" + '\")');
                imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_3_Long.png" + '\")');
                imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_4_Long.png" + '\")');
                imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_5_Long.png" + '\")');

                return imgURLList;
            }

            function getCaptionList(artifactId){
                var captionsURLList = [];

                captionsURLList.push('horse');
                captionsURLList.push('fish');
                captionsURLList.push('mountain');
                captionsURLList.push('sun');
                captionsURLList.push('moon');

                return captionsURLList;
            }
        });
    </script>
    <script>

    </script>
</body>
</html>
