{% load staticfiles %}
<!--
  Cyrus Tang Hall of China 
  Digital Rail Design

  This project was funded by the National Science Foundation (grant IIS-1550051).
  Any opinions, findings and conclusions or recommendations expressed in this
  material are those of the author(s) and do not necessarily reflect the views
  of the National Science Foundation (NSF).
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link href="{% static "common/css/fonts.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "common/css/ionicons.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "common/css/jquery-ui.min.css" %}" type="text/css" rel="stylesheet" />
    <link href="../../../static/attractscreen/css/slidemain.css" type="text/css" rel="stylesheet" />
    <script src="{% static "common/js/jquery-1.12.3.min.js" %}"></script>
    <script src="{% static "common/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "common/js/jquery-ui-touch.js" %}"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-77263385-1', 'auto');
        ga('send', 'pageview');
        ga('send', {hitType: 'event', eventAction: ['click','scroll'], eventCategory: ['artifact'] });
    </script>

    <title>Case 201: Cyrus Tang Hall of China</title>
</head>
<body oncontextmenu="return true">
    <div id="screen">
        <!--Attract Screen-->
        <div class="page" id="main-screen">
            <div class="left-segment">
                <div id="content-wrapper">
                    <div class="content-header">Ancient innovations that shaped the Bronze Age. </div>
                    <div class="content-subheader">How have characters first seen on Oracle Bones transformed over time? <span class="more">tap here for more <i class="ion ion-log-in"></i></span></div>
                    <div id="media-wrapper">
                        <div class="media-container">
                            <div class="slide-prev"><i class="ion ion-ios-arrow-back"></i></div>
                            <div class="media-content" data-index="0"></div>
                            <div class="slide-next"><i class="ion ion-ios-arrow-forward"></i></div>
                        </div>
                        <div class="media-rights">&#169; the field museum, illustrator sayaka isowa</div>
                        <div class="media-caption">Some of these are characters used in China today. Character for <span>"horse"</span></div>
                    </div>
                    <div id="slider"></div>
                    <div class="highlight-legend"></div>
                </div>
                <div id="highlight"></div>
                <div id="in-motion-highlight"></div>
                <div class="tooltip">
                  <span class="tooltiptext">1100 BC</span>
                </div>
                <div id="content-detail-wrapper">
                    <div class="line"></div>
                    <div class="home"><i class="ion ion-ios-arrow-back"></i> Back</div>
                    <div id="detail-artifact-wrapper">
                        <div class="detail-img"></div>
                        <div class="detail-label-wrapper">
                            <div class="detail-label">14-16</div>
                            <div class="detail-name">Oracle Bones</div>
                        </div>
                        <div class="detail-dynasty">Shang Dynasty | 1600 - 1046BC</div>
                    </div>
                    <div id="question-wrapper">
                        <div class="question selected">
                            <div class="text">When did writing emerge in China?</div>
                            <div class="answer-btn"><i class="ion ion-android-arrow-forward"></i></div>
                        </div>
                        <div class="question">
                            <div class="text">How did ancient kings use animal bones to talk to the dead?</div>
                            <div class="answer-btn"><i class="ion ion-android-arrow-forward"></i></div>
                        </div>
                        <div class="question">
                            <div class="text">What did the king talk to his dead ancestors about?</div>
                            <div class="answer-btn"><i class="ion ion-android-arrow-forward"></i></div>
                        </div>
                    </div>

                    <div id="answer-wrapper">
                        <div class="answer">
                            <div class="question-text">When did writing emerge in China?</div>
                            <div class="answer-text">There is no way to tell exactly when or how writing emerged in China because the earliest writing--possibly inscribed on bamboo or fabric--have long since disappeared. <br>But we do have evidence of a fully functioning writing system by the second half of the Shang Dynasty (c. 1600–1046 BC), thanks to the durability of the material it was written on: bone. These pieces were used in rituals to try to foretell the future, so they are known as “oracle bones.”</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-segment">
                <div id="artifact-wrapper">
                </div>
            </div>
        </div>
    </div>

    <div id="artifact-content" style="display: none;">
        <ul>
            {% for i in artifact_list %}
                <li data-artifact-id="{{i.artifact_id}}" data-artifact-name="{{i.artifact_name}}" data-label="{{i.label}}"
                    data-img-filename="{{i.img_filename}}" data-interactive-type="{{ i.interactive_type }}"
                    data-artifact-overlay-text="{{i.overlay_text}}">
                </li>
            {% endfor %}
        </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var caseId = "2-1_M2";
            var imagePath = "/static/attractscreen/media/" + caseId + "/assets/media/image/";

            setArtifactPanel();

            //-------------------------------------------------------------------
            // Set contents of artifact panel/right segment
            //-------------------------------------------------------------------
            function setArtifactPanel(){
                var artifactInitStr = "<div id=\"artifact";
                var artifactEndStr = "\" class=\"artifact\"> <div class=\"main\"><div class=\"overlay\"></div> " +
                        "<div class=\"img blur\"></div> " + "<div class=\"name blur\"></div> <div class=\"label\"></div> </div>";
                var artifactContent = $('#artifact-content').find('li');

                for(var i=0; i<artifactContent.length; i++ ) {
                    $('#artifact-wrapper').append(artifactInitStr + $(artifactContent[i]).data('artifact-id') +
                     artifactEndStr);

                    //set the label name and background img
                    var artifactId = "#artifact" + $(artifactContent[i]).data('artifact-id');

                    $(artifactId).find('.overlay').text($(artifactContent[i]).data('artifact-overlay-text'));
                    $(artifactId).find('.img').css('background-image', 'url(' + imagePath +
                            $(artifactContent[i]).data('img-filename') + ')');
                    $(artifactId).find('.name').text($(artifactContent[i]).data('artifact-name'));
                    $(artifactId).find('.label').text($(artifactContent[i]).data('label'));

                    $(artifactId).data('interactive-type',$(artifactContent[i]).data('interactive-type') );
                }

                $('.artifact').first().find('*').removeClass('blur');
                $('.artifact').first().find('.overlay').fadeOut(0);
                $('.artifact').first().addClass('selected');
                $('.artifact').first().addClass('selected-anim-left');
            }

            //-------------------------------------------------------------------
            // Callback to set media screen contents from artifact column
            //-------------------------------------------------------------------
            $('.page').on('click', '.artifact', function(){
                if(!$(this).hasClass('selected')){
                    $('.artifact').removeClass('selected');
                    $('.artifact').removeClass('selected-anim-left');
                    $('.artifact').removeClass('selected-anim-right');
                    $('.artifact').find('.more').css('display','none');

                    $('.artifact').find('.img').addClass('blur');
                    $('.artifact').find('.name').addClass('blur');
                    $('.artifact').find('.overlay').fadeIn(100);

                    $(this).find('.overlay').fadeOut(100);
                    $(this).find('*').removeClass('blur');

                    //-------------------------------------------------------------------
                    //detect whether it's an even/odd element in grid, to ensure that
                    //only the items on the first/left column slide to the left.
                    var artifactArr = $("#artifact-wrapper .artifact:nth-child(even)");
                    var clickedArtifact = $(this)[0];

                    var oddElement = true;
                    for(var i=0; i < artifactArr.length; i++){
                        if($(clickedArtifact).is(artifactArr[i])){
                            oddElement = false;
                            break;
                        }
                    }

                    $(this).addClass("selected");
                    if(oddElement){
                        $(this).addClass('selected-anim-left');
                    }
                    else{
                        $(this).addClass('selected-anim-right');
                    }
                    //-------------------------------------------------------------------

                    selectArtifact("#" + $(this).attr('id'));
                }
            });

            $('.content-subheader').on('click', 'span', function(){
                $('#content-wrapper').fadeOut(400);
                $('#highlight').fadeOut(100);

                $('#content-detail-wrapper').css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0}, 800);
            });

            $('#content-detail-wrapper').on('click', '.home', function(){
                $('#content-detail-wrapper').css({opacity: 1.0, visibility: "hidden"}).animate({opacity: 0.0}, 800);

                $('#content-wrapper').fadeIn(400);
                $('#highlight').fadeIn(100);
            });


            $('#question-wrapper').on('click', '.question', function(){
                $('.question').removeClass('selected');
                $('.answer-btn').fadeIn(400);

                if($(this).is($('.question')[0])){
                    $('.line').css({top: 115});
                }
                else if ($(this).is($('.question')[1])){
                    $('.line').css({top: 250});
                }
                else if ($(this).is($('.question')[2])){
                    $('.line').css({top: 384});
                }

                $('.question-text').text($(this).find('.text').text());

                $(this).addClass('selected');
            });

            function selectArtifact(artifactId){
                if($(artifactId).data('interactive-type') == "slideshow&timeline"){
                    $('#content-detail-wrapper').css({opacity: 1.0, visibility: "hidden"}).animate({opacity: 0.0}, 800);
                    $('#content-wrapper').fadeIn(400);

                    $('.slide-next').fadeIn(400);
                    $('.slide-prev').fadeIn(400);
                    $('#slider').fadeIn(400);
                    $('.highlight-legend').fadeIn(400);
                    $('#highlight').fadeIn(400);

                    var imgURLList = getImageList(artifactId);
                    var imgCaptionList = getCaptionList(artifactId);

                    $('.content-header').html('How has Chinese writing has transformed over time? <span>tap here for more <i class=\"ion ion-log-in\"></i></span>');
                    $('.media-content').css('background-image',imgURLList[0]);
                    $('.content-subheader').text(imgCaptionList[0]);
                    $('.media-caption').text('Characters first seen on Oracle Bones transformed over time. Many are still recognizable in characters used in China today.');

                    //$('.media-container').css({'justify-content': 'space-around'});
                    $('.media-content').css({'height': '180px', 'width': '1250px', 'background-size': '1150px'});
                }
                else if($(artifactId).data('interactive-type') == "slideshow") {
                    $('#content-detail-wrapper').css({opacity: 1.0, visibility: "hidden"}).animate({opacity: 0.0}, 800);
                    $('#content-wrapper').fadeIn(400);

                    $('.slide-next').fadeIn(400);
                    $('.slide-prev').fadeIn(400);
                    $('#slider').fadeOut(400);
                    $('.highlight-legend').fadeOut(400);
                    $('#highlight').fadeOut(400);

                    var imgURLList = getImageList(artifactId);
                    var imgCaptionList = getCaptionList(artifactId);

                    $('.content-header').html('What did the ancestors sound like? <span>tap here for more <i class=\"ion ion-log-in\"></i></span>');
                    $('.media-content').css('background-image',imgURLList[0]);
                    $('.content-subheader').text(imgCaptionList[0]);
                    $('.media-caption').text('');

                    $('.media-content').css({'height': '300px', 'width': '300px', 'background-size': 'contain'});
                }
                else if($(artifactId).data('interactive-type') == "timeline") {
                    $('#content-detail-wrapper').css({opacity: 1.0, visibility: "hidden"}).animate({opacity: 0.0}, 800);
                    $('#content-wrapper').fadeIn(400);

                    $('.slide-next').fadeOut(400);
                    $('.slide-prev').fadeOut(400);
                    $('#slider').fadeIn(400);
                    $('.highlight-legend').fadeIn(400);


                    var imgURLList = getImageList(artifactId);
                    var imgCaptionList = getCaptionList(artifactId);

                    $('.content-header').html('Why were shells used as money? <span>tap here for more <i class=\"ion ion-log-in\"></i></span>');
                    $('.media-content').css('background-image',imgURLList[0]);
                    $('.content-subheader').text(imgCaptionList[0]);
                    $('.media-caption').text('The earliest Chinese character for “money” is a pictograph of a cowrie shell.');

                    $('.media-content').css({'height': '180px', 'width': '1250px', 'background-size': '1150px'});
                }
                else{
                    $('.slide-next').fadeOut(400);
                    $('.slide-prev').fadeOut(400);
                    $('#slider').fadeOut(400);
                    $('.highlight-legend').fadeOut(400);
                    $('#highlight').fadeOut(400);

                    $('#content-wrapper').fadeOut(400);
                    $('#highlight').fadeOut(100);

                    $('#content-detail-wrapper').css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0}, 800);
                }

            }

            $( "#slider" ).slider({
                min: 0,
                max: 3400,
                step: 1,
                animate: "slow",
                orientation: "horizontal"

            });

            $( "#slider" ).on( "slidestart", function( event, ui ) {
                $('#highlight').animate({'border-width': '7px', opacity: "0.25"}, 500);

                $(".tooltip").css('left', $('.ui-slider-handle').position().left + 65);
                $(".tooltip").fadeIn(400);
            } );

            $( "#slider" ).on( "slidestop", function( event, ui ) {
                var currentYear = $( "#slider" ).slider( "value" );

                var highlightDims = checkMilestone(currentYear);

                $('#highlight').animate({left: highlightDims[0], width: highlightDims[1]}, 500);
                $('#highlight').animate({'border-width': '3px', opacity: "1.0", 'border-color': "#F38A5D"}, 500);

                $("#in-motion-highlight").fadeOut(400);
                $(".tooltip").fadeOut(400);
            } );

            var prevHighlightDims = ["125px","125px"];
            var moveHighlight = true;


            $( "#slider" ).on( "slide", function(event, ui) {
                var currentYear = $( "#slider" ).slider( "value");

                $("#in-motion-highlight").fadeIn(400);

                //set tooltip position + display
                $(".tooltip").css('left', $('.ui-slider-handle').position().left + 65);

                var slope = 1100/3400;
                var output = 125 + slope * (currentYear - 50);

                var highlightDims = checkMilestone(currentYear);

                if(moveHighlight && (highlightDims[0] != prevHighlightDims[0]) &&
                                (highlightDims[1] != prevHighlightDims[1])){
                    moveHighlight = false;
                    $('#in-motion-highlight').animate({left: highlightDims[0], width: highlightDims[1]}, 500, function(){
                        if(!moveHighlight){
{#                           $('#in-motion-highlight').animate({width: "125px"}, 700, function(){#}
                                setTimeout(function(){ moveHighlight = true; }, 1000);
{#                            });#}
                        }
                    });
                    prevHighlightDims[0] = highlightDims[0];
                    prevHighlightDims[1] = highlightDims[1];
                }

                if(moveHighlight && parseInt($("#in-motion-highlight").css('left')) + $("#in-motion-highlight").width() < 1350) {
                    $('#in-motion-highlight').css('left', output);
                }

                if(currentYear <= 1400){
                   $(".tooltiptext").text((1400-currentYear).toString() + " BC");
                }
                else{
                   $(".tooltiptext").text((currentYear - 1400).toString() + " AD");
                }
            });

            function checkMilestone(currentYear) {
                var left = "";
                var width = "";

                if(currentYear < 300){
                    left = "125px";
                    width = "125px";
                }

                if(currentYear >= 300 && currentYear < 1100){
                    left = "250px";
                    width = "265px";
                }

                if(currentYear >= 1100 && currentYear < 1600){
                    left = "525px";
                    width = "265px";
                }

                if(currentYear >= 1600 && currentYear < 3175){
                    left = "525px";
                    width = "655px";
                }

                if(currentYear >= 3175){
                    left = "525px";
                    width = "800px";
                }

                return [left, width];
            }

            $('.page').on('click', '.slide-prev', function(event){
                var artifactId = "#" + $('.artifact.selected').attr('id');
                var imgURLList = getImageList(artifactId);
                var imgCaptionList = getCaptionList(artifactId);
                if(prevImgIndex < 0){
                    prevImgIndex = imgURLList.length - 1;
                }
                $('.media-content').css('background-image',imgURLList[prevImgIndex]);
                $('.media-content').data('index', prevImgIndex);

                $('.content-subheader').find('span').text("\""+imgCaptionList[prevImgIndex]+"\"");
            });

            $('.page').on('click', '.slide-next', function(event){
                var artifactId = "#" + $('.artifact.selected').attr('id');
                var imgURLList = getImageList(artifactId);
                var imgCaptionList = getCaptionList(artifactId);
                var nextImgIndex = ($('.media-content').data('index') + 1) % imgURLList.length;

                $('.media-content').css('background-image',imgURLList[nextImgIndex]);
                $('.media-content').data('index', nextImgIndex);

                $('.content-subheader').text(imgCaptionList[nextImgIndex]);
            });

            function getImageList(artifactId){
                var imgURLList = [];

                if(artifactId == "#artifact0"){
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_1_Long.png" + '\")');
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_2_Long.png" + '\")');
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_3_Long.png" + '\")');
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_4_Long.png" + '\")');
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_5_Long.png" + '\")');
                }
                else if(artifactId == "#artifact1"){
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B2_S2_1.png" + '\")');
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B2_S2_2.png" + '\")');
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B2_S2_3.png" + '\")');
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B2_S2_4.png" + '\")');
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B2_S2_5.png" + '\")');
                }
                else if(artifactId == "#artifact3"){
                    imgURLList.push('url(\"' + "/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B5_S2_Long.png" + '\")');
                }

                return imgURLList;
            }

            function getCaptionList(artifactId){
                var captionsList = [];

                if(artifactId == "#artifact0"){
                    captionsList.push('Character for \"horse\"');
                    captionsList.push('Character for \"fish\"');
                    captionsList.push('Character for \"mountain\"');
                    captionsList.push('Character for \"sun\"');
                    captionsList.push('Character for \"moon\"');
                }
                else if(artifactId == "#artifact1"){
                    captionsList.push('The steps for an Oracle Bone divination');
                }
                else if(artifactId == "#artifact3"){
                    captionsList.push('Character for a \"cowrie shell\"');
                }

                return captionsList;
            }
        });
    </script>
    <script>

    </script>
</body>
</html>
