<!--
  Cyrus Tang Hall of China 
  Digial Rail Design

  This project was funded by the National Science Foundation (grant IIS-1550051).
  Any opinions, findings and conclusions or recommendations expressed in this
  material are those of the author(s) and do not necessarily reflect the views
  of the National Science Foundation (NSF).
-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/static/index/css/main.css">
  <link rel="stylesheet" href="/static/index/css/fonts.css">
  <title>Case 201: Cyrus Tang Hall of China</title>
</head>
<body>
  <div id="screen">
    <div id="content">
      <div id="left-column">
        <div id="collection">
          <h1>Bronze Age innovations</h1>
          <p>
            Major innovations, such as writing, high-fired ceramics, bronze casting, and the use of money, marked the early dynasties of China.
          </p>
        </div>

        <div id="timeline">
          <div id="timeline-bar"></div>
        </div>

      </div>


      <div id="top-level-menu">
        <div id="menu-instructions">
          Tap an object to learn more.
        </div>

        <div class="menu-item detailed">
          <div class="menu-item-thumbnail"></div>
          <div class="menu-item-data">
            <div class="menu-item-case-number">14- 16</div>
            <div class="menu-item-title">Oracle bones</div>
            <div class="menu-item-time-period">Shang–Zhou period<br><span class='avenir'>(c. 1600–256 BC)</span></div>
            <div class="menu-item-origin">China</div>
            <div class="menu-item-id-list">235949, 117374, 235955A</div>
          </div>
        </div>

        <div class="menu-item detailed">
          <div class="menu-item-thumbnail"></div>
          <div class="menu-item-data">
            <div class="menu-item-case-number">17- 18</div>
            <div class="menu-item-title">Oracle bones<br>(inscriptions added later)</div>
            <div class="menu-item-time-period">Shang Dynasty<br><span class='avenir'>(c. 1600–1046 BC)</span></div>
            <div class="menu-item-origin">China</div>
            <div class="menu-item-id-list">235949, 117374, 235955A</div>
          </div>
        </div>

        <div class="menu-item detailed">
          <div class="menu-item-thumbnail"></div>
          <div class="menu-item-data">
            <div class="menu-item-case-number">17- 18</div>
            <div class="menu-item-title">Oracle bones<br>(inscriptions added later)</div>
            <div class="menu-item-time-period">Shang Dynasty<br><span class='avenir'>(c. 1600–1046 BC)</span></div>
            <div class="menu-item-origin">China</div>
            <div class="menu-item-id-list">235949, 117374, 235955A</div>
          </div>
        </div>
        

        <div class="menu-item detailed">
          <div class="menu-item-thumbnail"></div>
          <div class="menu-item-data">
            <div class="menu-item-case-number">17- 18</div>
            <div class="menu-item-title">Oracle bones<br>(inscriptions added later)</div>
            <div class="menu-item-time-period">Shang Dynasty<br><span class='avenir'>(c. 1600–1046 BC)</span></div>
            <div class="menu-item-origin">China</div>
            <div class="menu-item-id-list">235949, 117374, 235955A</div>
          </div>
        </div>
        
        <div class="menu-item detailed topic-label">
          <div class="menu-item-thumbnail" style="background-image: url('/static/index/media/2-1_M2/assets/media/image/2.1_M2_B3.png');"></div>
          <div class="menu-item-data">
            <div class="menu-item-title">More on oracle bones</div>
          </div>
        </div>


      </div>
    </div>
    <div id="tray">
    </div>

    <div id="cross-bar-left"></div>
    <div id="cross-bar-right"></div>
  </div>      

  <script type="text/javascript">
    
    document.ontouchmove = function(event) {
      evt.preventDefault();
    };
    
    window.oncontextmenu = function(event) {
      event.preventDefault();
      event.stopPropagation();
      return false;
    };
  </script>
</body>
</html>
