* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent; }

body {
  color: #E6E1D0;
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 18px;
  font-weight: 400; }

::-webkit-scrollbar {
  width: 0px; }

#screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 502px;
  font-family: "Avenir Next Regular";
  font-size: 12pt;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0px;
  padding: 0px;
  z-index: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.page {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #171718;
  font-family: "Avenir Next Regular", sans-serif; }
  .page .left-segment {
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    -transition: transform 0.8s ease, opacity 1s ease;
    -webkit-transition: transform 0.8s ease, opacity 1s ease;
    -moz-transition: transform 0.8s ease, opacity 1s ease;
    -o-transition: transform 0.8s ease, opacity 1s ease;
    -webkit-backface-visibility: hidden; }
    .page .left-segment #content-wrapper {
      height: 502px; }
      .page .left-segment #content-wrapper .content-header {
        font-size: 26pt;
        line-height: 36px;
        vertical-align: middle;
        margin-top: 30px;
        padding-left: 50px;
        color: #fff;
        opacity: 0.85;
        font-weight: 300; }
      .page .left-segment #content-wrapper .content-subheader {
        font-size: 20pt;
        line-height: 36px;
        vertical-align: middle;
        padding-left: 50px;
        margin-top: 30px;
        color: #fff;
        opacity: 0.85;
        font-weight: 300; }
      .page .left-segment #content-wrapper #media-wrapper .media-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%; }
        .page .left-segment #content-wrapper #media-wrapper .media-container .media-content {
          height: 180px;
          width: 1250px;
          padding: 10px 10px 10px 10px;
          background: url("/static/attractscreen/media/2-1_M2/assets/media/image/G2.1_M2_B1_S1_1_Long.png") no-repeat center;
          background-size: 1150px; }
        .page .left-segment #content-wrapper #media-wrapper .media-container .slide-next, .page .left-segment #content-wrapper #media-wrapper .media-container .slide-prev {
          width: 35px;
          height: 45px;
          font-size: 20pt;
          line-height: 45px;
          padding-top: 4px;
          text-align: center;
          border-radius: 10px;
          background-color: #424342; }
          .page .left-segment #content-wrapper #media-wrapper .media-container .slide-next:active, .page .left-segment #content-wrapper #media-wrapper .media-container .slide-next:hover, .page .left-segment #content-wrapper #media-wrapper .media-container .slide-prev:active, .page .left-segment #content-wrapper #media-wrapper .media-container .slide-prev:hover {
            cursor: pointer;
            background-color: black; }
      .page .left-segment #content-wrapper #media-wrapper .media-caption {
        font-size: 24px;
        padding-left: 50px;
        margin-top: 15px;
        color: #fff;
        opacity: 0.85; }
      .page .left-segment #content-wrapper #media-wrapper .media-rights {
        font-size: 12pt;
        text-transform: uppercase;
        padding-left: 50px;
        margin-top: 5px;
        color: #fff;
        opacity: 0.65; }
      .page .left-segment #content-wrapper #slider {
        width: 1330px;
        height: 10px;
        margin-top: 30px;
        margin-left: 55px;
        border-radius: 20px;
        border-color: rgba(229, 144, 102, 0.5);
        background-color: rgba(243, 138, 93, 0.5); }
      .page .left-segment #content-wrapper .ui-slider-horizontal .ui-state-default {
        height: 45px;
        border: none;
        margin-top: -12px;
        background: transparent url("/static/common/media/sliderhandle.png") no-repeat scroll 50% 50%; }
  .page .right-segment {
    width: 480px;
    height: 100%;
    border-left: #E1DDC6 solid 3px; }
    .page .right-segment #artifact-wrapper {
      display: flex;
      width: 480px;
      height: 502px;
      overflow-x: hidden;
      overflow-y: scroll;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap; }
      .page .right-segment #artifact-wrapper .artifact {
        width: 160px;
        height: 200px;
        background-color: #222222;
        opacity: 0.7;
        margin: 15px;
        display: flex;
        flex-direction: row; }
        .page .right-segment #artifact-wrapper .artifact .main .img {
          width: 160px;
          height: 140px;
          background: url("/static/attractscreen/media/2-1_M2/assets/media/image/2.1_M2_B1.png") no-repeat center;
          background-size: contain; }
        .page .right-segment #artifact-wrapper .artifact .main .name {
          width: 160px;
          height: 30px;
          font-size: 12pt;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          vertical-align: middle;
          line-height: 30px; }
        .page .right-segment #artifact-wrapper .artifact .main .label {
          width: 160px;
          height: 30px;
          font-size: 15pt;
          color: #fff;
          background-color: #bc4c4e;
          text-align: center;
          line-height: 30px;
          padding-top: 4px; }
        .page .right-segment #artifact-wrapper .artifact .more {
          width: 45px;
          height: 200px;
          background-color: #292929;
          font-size: 8pt;
          padding-top: 50%;
          padding-left: 5px;
          padding-right: 5px;
          text-transform: uppercase;
          text-align: center; }
          .page .right-segment #artifact-wrapper .artifact .more i {
            font-size: 15pt; }
        .page .right-segment #artifact-wrapper .artifact:active, .page .right-segment #artifact-wrapper .artifact:hover {
          cursor: pointer; }
      .page .right-segment #artifact-wrapper .artifact.selected {
        background-color: #424242;
        opacity: 1.0; }
      .page .right-segment #artifact-wrapper .selected-anim-left {
        transform: translateX(-45px);
        transition: opacity 0.2s ease-out, transform 0.2s; }
    .page .right-segment #detail-page #detail-header {
      display: flex;
      width: 480px;
      height: 100px;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .page .right-segment #detail-page #detail-header .home {
        width: 40px;
        font-size: 8pt;
        text-align: center;
        color: #808381; }
        .page .right-segment #detail-page #detail-header .home:active, .page .right-segment #detail-page #detail-header .home:hover {
          cursor: pointer; }
      .page .right-segment #detail-page #detail-header .home i {
        font-size: 32pt; }
      .page .right-segment #detail-page #detail-header .name {
        font-size: 20pt;
        text-align: center; }
        .page .right-segment #detail-page #detail-header .name .sub-description {
          font-size: 12pt; }
      .page .right-segment #detail-page #detail-header .label {
        width: 50px;
        height: 30px;
        font-size: 9pt;
        color: #fff;
        text-align: center;
        line-height: 30px;
        padding-top: 4px;
        margin-top: 18px;
        margin-right: 30px;
        background-color: #bc4c4e; }
    .page .right-segment #detail-page #question-wrapper {
      display: flex;
      width: 100%;
      height: 350px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      .page .right-segment #detail-page #question-wrapper .question {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 385px;
        height: 80px;
        background-color: #424242;
        border-radius: 7px;
        font-size: 12pt; }
        .page .right-segment #detail-page #question-wrapper .question .text {
          width: 300px; }
        .page .right-segment #detail-page #question-wrapper .question .answer-btn {
          width: 50px;
          height: 50px;
          font-size: 20pt;
          line-height: 50px;
          padding-top: 4px;
          text-align: center;
          border-radius: 50%;
          background-color: #7F8382; }
        .page .right-segment #detail-page #question-wrapper .question:active, .page .right-segment #detail-page #question-wrapper .question:hover {
          cursor: pointer;
          background-color: #333333; }
    .page .right-segment #detail-page #answer-wrapper {
      display: none;
      width: 385px;
      height: 350px;
      margin: 0 auto;
      background-color: #424242;
      border-radius: 7px;
      font-size: 12pt; }
      .page .right-segment #detail-page #answer-wrapper .question-text {
        width: 385px;
        text-align: center;
        font-size: 14pt;
        padding-top: 25px; }
      .page .right-segment #detail-page #answer-wrapper .answer-text {
        width: 385px;
        text-align: justify;
        font-size: 12.5pt;
        padding: 25px;
        line-height: 1.6em; }
      .page .right-segment #detail-page #answer-wrapper .close-btn {
        float: right;
        margin-top: -15px;
        margin-right: -15px;
        font-size: 30pt;
        color: #808381; }

/*# sourceMappingURL=slidemain.css.map */
